h1 {
  text-align: center;
}

span {
  font-weight: 700;
}

.font {
  font-family: "DynaPuff", cursive;
}

.list li {
  list-style-type: none;
  padding: 0 0 0 20px;
  background: url("icon.png") 0 1px/ 15px 15px no-repeat;
}

.hover:hover {
  background: black;
}

.visited:visited {
  color: brown;
}

.active:active {
  background: black;
}

.focus:focus {
  background: black;
}

.first-child li:first-child {
  color: brown;
}

.last-child li:last-child {
  color: brown;
}

.nth-child-number li:nth-child(3) {
  color: brown;
}

.nth-child-odd li:nth-child(odd) {
  color: brown;
}

.nth-child-even li:nth-child(even) {
  color: brown;
}

.first-line:first-line {
  color: brown;
}

.first-letter:first-letter {
  font-size: 50px;
  color: brown;
}

.before li:before {
  content: "$ ";
}

.after li:after {
  content: "";
  margin-left: 10px;
  width: 10px;
  height: 10px;
  background-color: brown;
  border-radius: 50%;
  border-color: black;
  display: inline-block;
}

.list2 li {
  position: relative;
  list-style-type: none;
}

.list2 li:before {
  content: "";
  background: url("icon.png") 0 0/ 15px no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: -20px;
}


.block1 {
  max-width: 100px;
}
.block2 {
  text-align: center;
}
.block__row {
  border: 10px solid #ece89d;
  margin: 0 0 20px 0;
}
.block__row1 {
  display: flex;

  border: 10px solid #ece89d;
  margin: 0 0 20px 0;
}
.block__row2 {
  display: inline-flex;

  border: 10px solid #ece89d;
  margin: 0 0 20px 0;
}
.block__row3 {
  display: flex;
  justify-content: flex-end;

  border: 10px solid #ece89d;
  margin: 0 0 20px 0;
}
.block__row4 {
  display: flex;
  justify-content: center;

  border: 10px solid #ece89d;
  margin: 0 0 20px 0;
}
.block__row5 {
  display: flex;
  justify-content: space-between;

  border: 10px solid #ece89d;
  margin: 0 0 20px 0;
}
.block__row6 {
  display: flex;
  justify-content: space-around;

  border: 10px solid #ece89d;
  margin: 0 0 20px 0;
}
.block__row7 {
  display: flex;
  justify-content: space-evenly;

  border: 10px solid #ece89d;
  margin: 0 0 20px 0;
}
.block__row8 {
  display: flex;
  align-items: flex-start;

  border: 10px solid #ece89d;
  margin: 0 0 20px 0;
}
.block__row9 {
  display: flex;
  align-items: flex-end;

  border: 10px solid #ece89d;
  margin: 0 0 20px 0;
}
.block__row10 {
  display: flex;
  align-items: center;

  border: 10px solid #ece89d;
  margin: 0 0 20px 0;
}
.block__row11 {
  display: flex;
  align-items: baseline;

  border: 10px solid #ece89d;
  margin: 0 0 20px 0;
}
.block__row12 {
  display: flex;
  flex-wrap: wrap;

  border: 10px solid #ece89d;
  margin: 0 0 20px 0;
}
.block__row13 {
  display: flex;
  flex-wrap: wrap-reverse;

  border: 10px solid #ece89d;
  margin: 0 0 20px 0;
}
.block__column {
  border: 10px solid #8166b4;
}
.block__item {
  background-color: #18b5a4;
  padding: 10px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
}
.button-transition {
  display: inline-block;
  text-decoration: none;
  line-height: 50px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  height: 50px;
  background-color: #7fa09d;
  color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 10px black;
  position: relative;
  top: 0;
  margin: 0 0 10px 0;
  letter-spacing: 2px;
}
.button-transition:hover {
  box-shadow: 0px 2px black;
  top: 8px;
  background-color: #20b8a8;
  transition-duration: 2s;
}
.button-transition2:hover {
  transition-property: background-color;
}
.button-transition3:hover {
  transition-property: background-color, top;
  transition-duration: 2s, 1s;
}
.button-transition4:hover {
  transition-delay: 1s;
}
.button-transition5:hover {
  transition-property: background-color, top, box-shadow;
  transition-duration: 1s, 1s, 1s;
  transition-delay: 0ms, 1s, 1s;
}
.ttf {
  display: block;
  text-decoration: none;
  line-height: 40px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  height: 40px;
  background-color: #30413f;
  color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  margin: 0 0 10px 0;
  letter-spacing: 2px;
}
.ttf:hover {
  width: 600px;
  transition-duration: 1s;
}
.ttf1 {
  transition-timing-function: ease;
}
.ttf2 {
  transition-timing-function: ease-in;
}
.ttf3 {
  transition-timing-function: ease-out;
}
.ttf4 {
  transition-timing-function: ease-in-out;
}
.ttf5 {
  transition-timing-function: linear;
}
.ttf6 {
  transition-timing-function: steps(4, start);
}
.ttf7 {
  transition-timing-function: cubic-bezier(0.165, -0.84, 0.44, 1.8);
}
.code-color {
  padding: 5px; 
  background-color:rgb(165, 147, 147);
  width: 500px;
}
@keyframes circle-animation {
  0% {
    left: 0;
  }
  100% {
    left: 500px;
  }
}
@keyframes circle-animation2 {
  0% {
    left: 0;
  }
  50% {
    border-radius: 0;
    background-color: #31234b;
  }
  100% {
    left: 500px;
  }
}
.circle-container {
  width: 600px;
  height: 50px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: #a3a3a3;
}
.circle-container:hover .circle {
  animation-name: circle-animation;
}
.circle-container:hover .circle2 {
  animation-name: circle-animation2;
}
.circle-container:hover .circle3 {
  animation-play-state: paused;
}
.circle-container:hover .circle4 {
  animation-name: none;
}
.circle, .circle2, .circle3, .circle4 {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  background-color: #30413f;
  position: relative;
  left: 0;
  color: white;
  text-align: center;
}
.animation1 {
  animation-duration: 2s;
}
.animation2 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.animation3 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.animation4 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.animation5 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.animation6 {
  animation-name: circle-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.animation7 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}
.animation8 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: -1s;
}
.animation9 {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.animation10 {
  animation: forwards 1s 0.5s 1;
}
.block-for-image {
  width: 900px;
  border: 2px solid black;
  margin: 0 0 10px 0;
}
.image-mod {
  max-width: 100%;
}
